button {
    width: calc(100% - 50px); /*100% - margin left and right*/
    background: #7f5af0;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    font-size: 1rem;
    padding: 5px;
    transition: .3s;
    cursor: pointer;
}

button:hover {
    background: #6f4ed1;
    transition: .3s;
}

#no-user-posts p {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
}

#no-user-posts img {
    width: 80vw;
    display: block;
    margin: auto;
}

#no-liked-posts {
    height: calc(100vh - 60px - 60px); /*100vh - navbar height - footer height*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

#no-liked-posts img {
    height: auto;
    width: 100%;
    margin-top: 15px;
}

#no-trend-posts {
    height: calc(100vh - 60px - 60px - 40px - 20px); /*100vh - navbar height - footer height - index header height - section padding*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#no-trend-posts img {
    height: auto;
    width: 100%;
    margin-top: 15px;
}

#no-more-posts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#no-more-posts img {
    width: 75%;
    margin-bottom: 15px;
}

#no-more-posts p {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    button {
        font-size: 1.2rem;
    }

    #no-user-posts img {
        height: 300px;
        width: auto;
    }

    #no-liked-posts {
        height: calc(100vh - 60px); /*100vh - navbar height*/
        padding: 0;
    }

    #no-liked-posts img {
        height: auto;
        width: 80%;
    }

    #no-trend-posts img {
        height: auto;
        width: 80%;
    }

    #no-more-posts img {
        width: 50%;
    }

    #no-more-posts p {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1038px) {
    button {
        font-size: 1rem;
        width: 30%;
        margin-top: 10px;
    }

    #no-more-posts p {
        font-size: 1rem;
    }

    #no-liked-posts img {
        height: 60%;
        width: auto;
    }

    #no-trend-posts img {
        height: 60%;
        width: auto;
    }
}