a {
    color: #7f5af0;
}

a:hover {
    color: #936fff !important;
}

h1 {
    font-size: 1.25rem !important;
}

/*Header / App name*/
#kc-header-wrapper {
    color: white;
    padding-top: 5px;
}

/*Background*/
.login-pf body {
    background: #16161a;
}

/*Login/Registration button:*/
#kc-login, .pf-c-button {
    background: #7f5af0 !important;
    color: white;
    border-radius: 10px;
    transition: .3s;
}

#kc-login:hover, .pf-c-button:hover {
    background: #6f4ed1 !important;
    color: white;
    transition: .3s;
}

.pf-m-primary { /*Just the registration button, not the Google one*/
    margin-bottom: 20px;
}

/*Login card (form)*/
.card-pf {
    background: transparent;
    color: white;
    padding-bottom: 0 !important;
    border-top: none;
}

.card-pf label {
    font-size: 1rem;
}

.card-pf input {
    outline: none;
    border: none;
}

.card-pf a {
    font-size: 0.813rem;
}

.card-pf h4 {
    color: rgb(196, 196, 196);
}

/*Inputs*/
#username, #password, #firstName, #lastName, #email, #password-confirm, #password-new, #totp, #userLabel,
#kc-totp-secret-key {
    background: #24242b;
    color: white;
    border: 2px solid #7f5af0;
    border-radius: 10px;
}

/*Sign in with Google (list)*/
.card-pf ul {
    margin-top: 10px;
}

/*Sign in with Google (button)*/
#social-google {
    background-image: linear-gradient(90deg, #3369e8, #d50f25, #eeb211, #009925) !important;
    color: white;
    border-radius: 10px;
    border: none !important;
    font-size: 0.875rem;
    border-bottom: 2px solid transparent !important;
}

.kc-social-gray {
    color: white;
}

#social-google:hover {
    color: white !important;
    border-bottom: 2px solid #7f5af0 !important;
}

/**/
.pf-c-button:after {
    border: none;
}

#kc-form-options label {
    font-size: 0.813rem;
    color: white;
    text-decoration: underline;
}

#kc-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

#kc-info.login-pf-signup {
    max-width: 100vw;
    margin: 20px 0;
}

#kc-registration {
    width: 100%;
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.5rem !important;
    }

    #kc-header-wrapper {
        padding-top: 20px;
    }

    .card-pf {
        background: #24242b;
        color: white;
        padding-bottom: 20px !important;
        border-radius: 15px;
    }

    #kc-info-wrapper {
        background: transparent;
        color: rgb(196, 196, 196);
        padding: 0;
    }
}

@media (min-width: 1038px) {
    .login-pf body {
        background-image: url("../img/login.svg");
        background-repeat: no-repeat;
        background-size: 25rem;
        background-position-x: 75%;
        background-position-y: center;
    }

    
    .card-pf {
        position: absolute;
        left: 25%;
    }
    
}