<section id="section-call">
    <div id="call" *ngIf="friend">
        <div id="call-header">
            <div id="friend-data" [routerLink]="['/profile', friend.idUser]">
                <img *ngIf="friend?.photo" src="http://localhost:8090/api/users/img/{{friend.photo}}">
                <img *ngIf="!friend?.photo" src="http://localhost:8090/images/no-photo.jpg">
                <p>{{friend.name}} {{friend.surname}}</p>
            </div>
        </div>
        <div id="call-body">
            <div>
                <video #keycloakUserVideo [muted]="true" [autoplay]="true"></video>
                <img *ngIf="keycloakUser?.photo && !videoEnabled" src="http://localhost:8090/api/users/img/{{keycloakUser.photo}}">
                <img *ngIf="!keycloakUser?.photo && !videoEnabled" src="http://localhost:8090/images/no-photo.jpg">
            </div>
            <div>
                <video #friendVideo [autoplay]="true"></video>
                <img *ngIf="friend?.photo && !friendVideoEnabled" src="http://localhost:8090/api/users/img/{{friend.photo}}">
                <img *ngIf="!friend?.photo && !friendVideoEnabled" src="http://localhost:8090/images/no-photo.jpg">
            </div>
        </div>
        <div id="call-footer">
            <button *ngIf="videoEnabled" (click)="changeVideo()"><i class="fa-solid fa-video"></i></button>
            <button *ngIf="!videoEnabled" (click)="changeVideo()"><i class="fa-solid fa-video-slash"></i></button>
            <button *ngIf="audioEnabled" (click)="changeAudio()"><i class="fa-solid fa-microphone"></i></button>
            <button *ngIf="!audioEnabled" (click)="changeAudio()"><i class="fa-solid fa-microphone-slash"></i></button>
            <button (click)="endCall()" id="end-call-button"><i class="fa-solid fa-phone-slash"></i></button>
        </div>
    </div>

    <aside>
        <img src="../../../../../../../assets/img/call_bg.svg" alt="">
    </aside>
</section>