<section id="section-profile">
    <div id="middle">
        <div id="profile">
            <div id="profile-header">
                <figure id="profile-header-photo">
                    <img *ngIf="user?.photo" src="http://localhost:8090/api/users/img/{{user.photo}}">
                    <img *ngIf="!user?.photo" src="http://localhost:8090/images/no-photo.jpg">
                    <figcaption *ngIf="user?.name">{{user.name}} {{user.surname}}</figcaption>
                    <i *ngIf="user?.isChecked" class="fa-solid fa-check"></i>
                </figure>
                <div id="profile-header-data">
                    <div (click)="moveToPosts(posts)">
                        <p>{{userPostQuantity}}</p>
                        <p>{{'PROFILE.NUMBER_OF_POSTS' | translate}}</p>
                    </div>
                    <div (click)="goToFriendsPage()" *ngIf="!user?.isChecked">
                        <p>{{friendsQuantity}}</p>
                        <p>{{'PROFILE.NUMBER_OF_FRIENDS' | translate}}</p>
                    </div>
                    <div (click)="goToFollowersPage()" *ngIf="user?.isChecked">
                        <p>{{followersQuantity}}</p>
                        <p>{{'PROFILE.NUMBER_OF_FOLLOWERS' | translate}}</p>
                    </div>
                    <div (click)="goToFollowingPage()">
                        <p>{{followingQuantity}}</p>
                        <p>{{'PROFILE.NUMBER_OF_FOLLOWING' | translate}}</p>
                    </div>
                </div>
            </div>

            <div id="profile-description">
                <p *ngIf="user?.description">{{user.description}}</p>
                <p *ngIf="friendship?.status" id="friendship-date">{{'PROFILE.FRIENDS_SINCE' | translate}} {{friendship.date | date:'shortDate'}}</p>
                <p *ngIf="daysUntilElimination" id="deletion-date">{{'PROFILE.DAYS_UNTIL_ELIMINATION' | translate:daysUntilEliminationParam}}</p>
            </div>

            <div id="profile-buttons">
                <button type="button" class="profile-button" [routerLink]="['edit']" *ngIf="isKeycloakUserPage">
                    <i class="fa-solid fa-pencil"></i> {{'PROFILE.EDIT_PROFILE' | translate}}
                </button>
                <button type="button" class="profile-button" [routerLink]="['liked']" *ngIf="isKeycloakUserPage">
                    <i class="fa-solid fa-heart"></i> {{'PROFILE.LIKED_POSTS_BUTTON' | translate}}
                </button>
                <button type="button" class="profile-button side-profile-button" (click)="addFriend()" *ngIf="friendship?.status == false && !authService.userIsChecked">
                    <i class="fa-solid fa-plus"></i> {{'PROFILE.ADD_FRIEND' | translate}}
                </button>
                <button type="button" class="profile-button" *ngIf="friendship?.status == true" [routerLink]="['/profile/chat', user.idUser]">
                    <i class="fa-solid fa-message"></i> {{'PROFILE.SEND_MESSAGE' | translate}}
                </button>
                <button type="button" class="profile-button" *ngIf="friendship?.status == true" (click)="callFriend()">
                    <i class="fa-solid fa-phone-flip"></i> {{'PROFILE.CALL' | translate}}
                </button>
                <button type="button" class="profile-button" *ngIf="friendship?.status == true"
                (click)="deleteFriend()">
                    <i class="fa-solid fa-trash"></i> {{'PROFILE.DELETE' | translate}}
                </button>
                <button type="button" class="profile-button side-profile-button"  (click)="followUser()"
                    *ngIf="!followership && !friendship && !isKeycloakUserPage">
                    <i class="fa-solid fa-plus"></i> {{'PROFILE.FOLLOW' | translate}}
                </button>
                <button type="button" class="profile-button side-profile-button" *ngIf="followership" (click)="unfollowUser()">
                    <i class="fa-solid fa-minus"></i> {{'PROFILE.STOP_FOLLOWING' | translate}}
                </button>
            </div>
        </div>

        <hr #posts>

        <h3>{{'PROFILE.POSTS' | translate}}:</h3>
        <div id="publications">
            <div id="pinned-post-container" *ngIf="pinnedPost">
                <post-comp [post]="pinnedPost"></post-comp>
                <p id="pinned-post-text"><i class="fa-solid fa-thumbtack"></i> {{'ASIDE.PINNED_POST' | translate}}</p>
            </div>
            <posts-list-comp *ngIf="user?.idUser" [idUser]="user.idUser" [page]="'profile'"></posts-list-comp>
        </div>
    </div>

    <aside>
        <ng-container *ngIf="pinnedPost">
            <h2><i class="fa-solid fa-thumbtack"></i> {{'ASIDE.PINNED_POST' | translate}}:</h2>
            <post-comp [post]="pinnedPost"></post-comp>
        </ng-container>
        
        <ng-container *ngIf="!pinnedPost && usersYouMayKnow?.length > 0">
            <h2>{{'ASIDE.USERS_MAYBE' | translate}}:</h2>
            <figure class="users-aside" *ngFor="let userYouMayKnow of usersYouMayKnow" (click)="goToProfile(userYouMayKnow)">
                <img *ngIf="userYouMayKnow?.photo" src="http://localhost:8090/api/users/img/{{userYouMayKnow.photo}}">
                <img *ngIf="!userYouMayKnow?.photo" src="http://localhost:8090/images/no-photo.jpg">
                <figcaption>{{userYouMayKnow.name}} {{userYouMayKnow.surname}}</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
            </figure>
        </ng-container>

        <img *ngIf="!pinnedPost && usersYouMayKnow?.length == 0" src="../../../../../assets/img/no_users_you_may_know_BG.svg" alt="This user has no other users that you may know of." id="aside-img">
    </aside>
</section>

<router-outlet></router-outlet>