footer {
    background: #24242b;
    font-size: 1.75rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 990;
    display: flex;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.2);
}

footer div {
    display: none;
}

footer ul {
    display: grid;
    list-style: none;
    padding: 0;
    text-align: center;
    margin: auto;
}

footer ul li {
    position: relative; /*For the notifications_length badge*/
}

#notifications_length {
    color: white;
    background: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    
}

footer ul li a {
    padding: 10px;
    transition: .3s;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
}

footer ul li a:hover {
    background: #7f5af0;
    transition: .3s;
}

footer ul li a i {
    width: 35px;
    line-height: 35px;
}

footer ul li a p {
    display: none;
}

#principal-link {
    background: #7f5af0;
}

#principal-link:hover {
    background: #7f5af0;
    border-radius: 15%;
}

#publication-link {
    grid-column: 3;
    grid-row: 1;
    cursor: pointer;
}

#index-link {
    grid-column: 1;
    grid-row: 1;
}

#profile-link {
    grid-column: 2;
    grid-row: 1;
}

#notification-link {
    grid-column: 4;
    grid-row: 1;
}

#configuration-link {
    grid-column: 5;
    grid-row: 1;
}

@media (min-width: 768px) {
    footer {
        height: 100vh;
        width: 20%;
        position: fixed;
        border-radius: 0;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30%;
        color: white;
    }

    footer div img {
        width: 60px;
        height: 60px;
    }

    footer div p {
        display: none;
    }

    footer ul {
        display: block;
        width: 100%;
        height: 70%;
    }

    #notifications_length {
        left: 52%;
        bottom: 52%;
    }

    footer ul li a {
        display: block;
        text-align: center;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
    }

    footer ul li a i {
        display: inline;
        padding-left: 5px;
    }

    #principal-link:hover {
        border-radius: 0;
    }

    .active {
        background: #6f4ed1;
        transition: .3s;
    }
}

@media (min-width: 1038px) {
    footer div p {
        display: inline;
        margin-left: 10px;
    }

    #notifications_length {
        left: 90%;
        bottom: 50%;
    }

    footer ul li a {
        text-align: start;
    }

    footer ul li a p {
        display: inline;
        padding-left: 5px;
    }
}