<div id="pagination">
    <button class="arrow-btn" *ngIf="!paginator.first" (click)="goToFirstPage()"><i class="fa-solid fa-angles-left"></i></button>
    <button class="arrow-btn" *ngIf="!paginator.first" (click)="goToPreviousPage()"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="number-btn" *ngIf="!paginator.first" (click)="goToPreviousPage()">{{paginator.number-1}}</button>
    <button class="number-btn active-btn">{{paginator.number}}</button>
    <button class="number-btn" *ngIf="!paginator.last"(click)="goToNextPage()">{{paginator.number+1}}</button>
    <button class="arrow-btn" *ngIf="!paginator.last" (click)="goToNextPage()"><i class="fa-solid fa-chevron-right"></i></button>
    <button class="arrow-btn" *ngIf="!paginator.last" (click)="goToLastPage()"><i class="fa-solid fa-angles-right"></i></button>
</div>