<section id="section-publications">
    <div id="publications">
        <div class="publication">
            <div class="publication-header">
                <figure class="publication-header-user">
                    <img src="https://via.placeholder.com/30">
                    <figcaption>Matías</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
                </figure>
                <div class="publication-header-date">
                    <p>17/07/22, 11:21 AM</p>
                </div>
            </div>
            <div class="publication-body">
                <p>I visited Paris!</p>
                <img src="https://via.placeholder.com/200" draggable="false">
            </div>
            <div class="publication-footer">
                <span>300</span> <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-comment"></i>
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
        </div>

        <div class="publication">
            <div class="publication-header">
                <figure class="publication-header-user">
                    <img src="https://via.placeholder.com/30">
                    <figcaption>Matías</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
                </figure>
                <div class="publication-header-date">
                    <p>10/07/22, 15:51 PM</p>
                </div>
            </div>
            <div class="publication-body">
                <p>Today I will fly to Paris</p>
            </div>
            <div class="publication-footer">
                <span>52</span> <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-comment"></i>
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
        </div>

        <div class="publication">
            <div class="publication-header">
                <figure class="publication-header-user">
                    <img src="https://via.placeholder.com/30">
                    <figcaption>Matías</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
                </figure>
                <div class="publication-header-date">
                    <p>30/06/22, 17:30 PM</p>
                </div>
            </div>
            <div class="publication-body">
                <img src="https://via.placeholder.com/300x200">
            </div>
            <div class="publication-footer">
                <span>220</span> <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-comment"></i>
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
        </div>
    </div>

    <aside>
        <h2>{{'ASIDE.FEATURED_POST' | translate}}</h2>
        <div class="publication" style="padding-top: 5px;">
            <div class="publication-header">
                <figure class="publication-header-user">
                    <img src="https://via.placeholder.com/30">
                    <figcaption>FC Barcelona</figcaption><i class="fa-solid fa-check"></i>
                </figure>
            </div>
            <div class="publication-body">
                <p>Agreement in principle for the transfer of Robert Lewandowski</p>
                <img src="https://via.placeholder.com/200">
            </div>
            <div class="publication-footer">
                1.267.485 <i class="fa-solid fa-heart"></i>
            </div>
        </div>

        <h2>{{'ASIDE.FEATURED_USERS' | translate}}</h2>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>FC Barcelona</figcaption><i class="fa-solid fa-check"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Real Madrid CF</figcaption><i class="fa-solid fa-check"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>G2 Esports</figcaption><i class="fa-solid fa-check"></i>
        </figure>
    </aside>
</section>