<section id="section-notifications">
    <header>
        <h1>{{'NOTIFICATIONS.TITLE' | translate}}</h1>
        <button class="button delete-all-button" *ngIf="isNotificationsEnabled && notifications.length > 0"
            (click)="deleteAllNotifications()">
            <i class="fa-solid fa-trash"></i> {{'NOTIFICATIONS.DELETE_ALL' | translate}}
        </button>
    </header>

    <div id="notifications" *ngIf="isNotificationsEnabled">
        <p *ngIf="notifications.length == 0">{{'NOTIFICATIONS.NO_NOTIFICATIONS' | translate}}</p>
        <div class="notification-box" *ngFor="let notification of notifications">
            <i class="fa-solid fa-bell notif-icon" [ngStyle]="{'opacity':getOpacity(notification)}"></i>
            <div class="notification-data" (click)="viewNotification(notification)"  [ngStyle]="{'opacity':getOpacity(notification)}">
                <h2 *ngIf="notification.type=='friend_type'">{{'NOTIFICATIONS.NEW_FRIEND_TITLE' | translate}}</h2>
                <h2 *ngIf="notification.type=='post_type'">{{'NOTIFICATIONS.LIKE_POST_TITLE' | translate}}</h2>
                <h2 *ngIf="notification.type=='message_type'">{{notification.userTransmitter.name}} {{notification.userTransmitter.surname}} {{'NOTIFICATIONS.NEW_MESSAGE_TITLE' | translate}}</h2>
                <h2 *ngIf="notification.type=='friendship_type'">{{'NOTIFICATIONS.FRIEND_REQUEST_TITLE' | translate}}</h2>
                <h2 *ngIf="notification.type=='comment_type'">{{'NOTIFICATIONS.COMMENT_TITLE' | translate}}</h2>
                <h2 *ngIf="notification.type=='followership_type'">{{'NOTIFICATIONS.FOLLOWER_TITLE' | translate}}</h2>

                <p *ngIf="notification.type=='friend_type'">{{notification.friend.name}} {{notification.friend.surname}} 
                    {{'NOTIFICATIONS.NEW_FRIEND_TEXT' | translate}}</p>
                <p *ngIf="notification.type=='post_type'">{{'NOTIFICATIONS.LIKE_POST_TEXT' | translate}}</p>
                <p *ngIf="notification.type=='message_type'">{{'NOTIFICATIONS.NEW_MESSAGE_TEXT' | translate}}</p>
                <p *ngIf="notification.type=='friendship_type'">{{notification.friendship.userTransmitter.name}} 
                    {{notification.friendship.userTransmitter.surname}} {{'NOTIFICATIONS.FRIEND_REQUEST_TEXT' | translate}}</p>
                <p *ngIf="notification.type=='comment_type'">{{'NOTIFICATIONS.COMMENT_TEXT' | translate}}</p>
                <p *ngIf="notification.type=='followership_type'">{{notification.followership.userFollower.name}} {{notification.followership.userFollower.surname}} 
                    {{'NOTIFICATIONS.FOLLOWER_TEXT' | translate}}</p>
            </div>
            
            <button *ngIf="notification.type!='friendship_type'" class="button delete-button" (click)="deleteNotification(notification)"><i class="fa-solid fa-trash"></i></button>
            <div *ngIf="notification.type=='friendship_type'" class="friendship-buttons">
                <button class="button delete-button" (click)="acceptFriendRequest(notification)"><i class="fa-solid fa-check"></i></button>
                <button class="button delete-button" (click)="deleteNotification(notification)"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </div>

    <p *ngIf="!isNotificationsEnabled" class="notifications-disabled">
        {{'NOTIFICATIONS.NOTIFICATIONS_DISABLED' | translate}}
    </p>
</section>