<section id="section-edit-profile">
    <h1>{{'PROFILE.EDIT.TITLE' | translate}}</h1>

    <div id="edit-box">
        <h2>{{'PROFILE.EDIT.PICTURE_TITLE' | translate}}</h2>
        <input type="file" (change)="fileChangeHandler($event)" #file style="display: none;">
        <button (click)="file.click()" id="select-button">{{'PROFILE.EDIT.PHOTO_BUTTON' | translate}}</button>
        <div class="image">
            <img *ngIf="output?.base64" [src]="output?.base64" alt="">
            <img *ngIf="!user?.photo && !output?.base64" src="http://localhost:8090/images/no-photo.jpg">
            <img *ngIf="user?.photo && !output?.base64" src="http://localhost:8090/api/users/img/{{user.photo}}" alt="">
        </div>

        <h2>{{'PROFILE.EDIT.DESCRIPTION_TITLE' | translate}}</h2>
        <textarea maxlength="200" placeholder="{{placeholder}}" 
        [(ngModel)]="description" name="description" (change)="checkChanges()"></textarea>

        <button type="submit" id="submit-changes" (click)="editProfile()" [disabled]="noChanges">
            {{'PROFILE.EDIT.EDIT_BUTTON' | translate}}
        </button>

        <p id="note">{{'PROFILE.EDIT.NOTE' | translate}}</p>
    </div>
</section>