#section-chat {
    padding: 0;
    font-size: 1.25rem;
}

#chat {
    width: 100%;
}

#chat-header {
    background: #2e2e36;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#friend-data {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#friend-data img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 5px;
}

#chat-body {
    background: transparent;
    width: 100%;
    /*100vh - 60px from navbar - 60px from #chat-header - 60px from #chat-footer - 60px from footer*/
    height: calc(100vh - 60px - 60px - 60px - 60px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0 10px;
}

#chat-body img {
    width: 80%;
    height: auto;
    margin: auto;
}

#chat-footer {
    background: transparent;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#chat-footer input {
    width: calc(100% - 40px - 40px - 5px); /*100% - #chat-footer buttons width + 5px extra*/
    height: 40px;
    border: 2px solid #7f5af0;
    outline: none;
    background: transparent;
    color: white;
    border-radius: 10px;
}

#chat-footer button {
    width: 40px;
    height: 40px;
    background: #7f5af0;
    border-radius: 50%;
    border: none;
    transition: .3s;
    cursor: pointer;
}

#chat-footer button:hover {
    background: #6f4ed1;
    transition: .3s;
}

#delete-file-button {
    position: absolute;
    background: red;
    width: 10px;
    height: 10px;
}

aside {
    display: none;
}

@media (min-width: 768px) {
    #chat-body {
        /*100vh - 60px from navbar - 60px from #chat-header - 60px from #chat-footer*/
        height: calc(100vh - 60px - 60px - 60px);
    }

    #chat-body img {
        width: 60%;
    }
}

@media (min-width: 1038px) {
    #section-chat {
        display: flex;
    }

    #chat {
        width: 75%;
    }

    #chat-body img {
        width: 60%;
    }

    aside {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        width: 25%;
        height: calc(100vh - 60px);
        background: #2e2e36;
    }

    aside img {
        width: 100%;
    }
}