HELP.md
target/classes
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

uploads/users/*.gif
uploads/users/*.jpeg
uploads/users/*.jpg
uploads/users/*.png
uploads/posts/*.gif
uploads/posts/*.jpeg
uploads/posts/*.jpg
uploads/posts/*.png
uploads/messages/*.gif
uploads/messages/*.jpeg
uploads/messages/*.jpg
uploads/messages/*.png
!uploads/posts/79b2a43b-1b31-4be8-bd67-9c9c9e536881_fdgh.png
!uploads/users/b4b7cac7-433a-4ef3-be1a-4ffc93de7352_1666966437308.jpeg