.message {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    max-width: 60%;
    margin: 5px 0;
    word-wrap: break-word;
}

.message-text {
    max-width: 100%;
}

.message img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}

.message-date {
    font-size: 1rem;
    color: darkgray;
    margin-top: 5px;
}