<section id="section-edit-profile">
    <h1>{{'PROFILE.EDIT.TITLE' | translate}}</h1>

    <div id="edit-box">
        <h2>{{'PROFILE.EDIT.PICTURE_TITLE' | translate}}</h2>
        <input type="file" (change)="fileChangeHandler($event)" #file style="display: none;">
        <button (click)="file.click()" id="select-button">{{'PROFILE.EDIT.PHOTO_BUTTON' | translate}}</button>
        <div class="image">
            <img [src]="output?.base64" alt="">
        </div>

        <h2>{{'PROFILE.EDIT.DESCRIPTION_TITLE' | translate}}</h2>
        <textarea name="" id="" maxlength="200" placeholder="{{placeholder}}"
        [(ngModel)]="user.description" name="description" [value]="user.description"></textarea>

        <button type="submit" id="submit-changes" (click)="editProfile()">{{'PROFILE.EDIT.EDIT_BUTTON' | translate}}</button>

        <p id="note">{{'PROFILE.EDIT.NOTE' | translate}}</p>
    </div>
</section>