<section id="section-edit-profile">
    <h1>{{'PROFILE.EDIT.TITLE' | translate}}</h1>
    <form>
        <h2>{{'PROFILE.EDIT.PICTURE_TITLE' | translate}}</h2>
        <div class="custom-dropzone" ngx-dropzone [multiple]="false" [accept]="'image/*'" (change)="onSelect($event)">
            <ngx-dropzone-label>
                <p>{{'PROFILE.EDIT.PICTURE_DROP' | translate}}</p>
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
        </div>

        <h2>{{'PROFILE.EDIT.DESCRIPTION_TITLE' | translate}}</h2>
        <textarea name="" id="" maxlength="200" placeholder="{{placeholder}}"
        [(ngModel)]="user.description" name="description" [value]="user.description"></textarea>

        <button type="submit" id="submit-changes" (click)="editProfile()">Editar</button>

        <p id="note">{{'PROFILE.EDIT.NOTE' | translate}}</p>
    </form>
</section>