<section id="section-users">
    <div id="users">
        <div id="search-input">
            <input type="text" [placeholder]="placeholder">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <div class="user">
            <div class="user-data">
                <img src="https://via.placeholder.com/50" alt="User photo">
                <p>Pepe test</p>
            </div>
            <div class="user-buttons">
                <button class="verify-btn"><i class="fa-solid fa-check"></i></button>
                <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>

        <div class="user">
            <div class="user-data">
                <img src="https://via.placeholder.com/50" alt="User photo">
                <p>Leon Scott Kennedy</p>
            </div>
            <div class="user-buttons">
                <button class="verify-btn"><i class="fa-solid fa-check"></i></button>
                <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>

        <div class="user">
            <div class="user-data">
                <img src="https://via.placeholder.com/50" alt="User photo">
                <p>María test</p>
            </div>
            <div class="user-buttons">
                <button class="verify-btn"><i class="fa-solid fa-check"></i></button>
                <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>

        <div class="user">
            <div class="user-data">
                <img src="https://via.placeholder.com/50" alt="User photo">
                <p>Pepe test</p>
            </div>
            <div class="user-buttons">
                <button class="verify-btn"><i class="fa-solid fa-check"></i></button>
                <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>

        <div class="user">
            <div class="user-data">
                <img src="https://via.placeholder.com/50" alt="User photo">
                <p>Leon Scott Kennedy</p>
            </div>
            <div class="user-buttons">
                <button class="verify-btn"><i class="fa-solid fa-check"></i></button>
                <button class="delete-btn"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>

        <paginator-admin-comp></paginator-admin-comp>
    </div>

    <aside>
        <img src="../../../../../assets/img/people_bg.svg" alt="">
    </aside>
</section>