#users {
    padding: 25px;
}

#search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-input input {
    width: calc(100% - 35px - 10px); /*100% - #search-input button width - extra 10px*/
    height: 35px;
    border: 2px solid #7f5af0;
    border-radius: 10px;
    padding: 5px;
    background: #24242b;
    color: white;
    outline: none;
    font-size: 1rem;
}

#search-input button {
    width: 35px;
    height: 35px;
    background: #7f5af0;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

#search-input button:hover {
    background: #6f4ed1;
    transition: .3s;
}

.user {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #24242b;
    box-shadow: 0, 0, 3px, 2px, rgba(0, 0, 0, 0.5);
}

.user-data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.user-data img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-data .username {
    display: none;
}

.user-buttons {
    min-width: 75px; /*user-buttons button width x2 + extra 5px*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-buttons button {
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
}

.verify-btn {
    background: #7f5af0;
    transition: .3s;
}

.verify-btn:hover {
    background: #6f4ed1;
    transition: .3s;
}

.delete-btn {
    background: #9b111e;
    transition: .3s;
}

.delete-btn:hover {
    background: #750d17;
    transition: .3s;
}

aside {
    display: none;
}

#no-users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-top: 5px;
}

#no-users img {
    width: 90%;
    margin-top: 5px;
}

#delete-all-users-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-bottom: 15px;
    width: 75%;
    background: #7f5af0;
    border: none;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    cursor: pointer;
    color: white;
    text-align: center;
    transition: .3s;
}

#delete-all-users-btn:hover {
    background: #6f4ed1;
    transition: .3s;
}

#delete-all-users-btn i {
    margin-right: 5px;
}

@media (min-width: 768px) {
    .user-data .username {
        display: block;
        margin-left: 5px;
        color: darkgray;
    }

    .user-buttons {
        width: 105px;
    }

    .user-buttons button {
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }

    #no-users {
        margin-top: 10px;
    }

    #no-users img {
        width: 50%;
    }

    #delete-all-users-btn {
        width: 45%;
    }
}

@media (min-width: 1038px) {
    #section-users {
        display: flex;
    }

    #users {
        width: 75%;
    }

    aside {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background: #2e2e36;
        width: 25%;
        min-height: calc(100vh - 60px);
    }

    aside img {
        width: 100%;
        height: auto;
    }

    #delete-all-users-btn {
        width: 35%;
        margin-bottom: 10px;
    }
}