<div class="message" *ngIf="message" #messageEl
    (mousedown)="deleteMessageMouseDown()" (mouseup)="deleteMessageMouseUp()"
    [ngStyle]="{
        'background-color': (message.userTransmitter.idUser==keycloakUser.idUser) ? '#7f5af0' : '#2e2e36',
        'margin-left': (message.userTransmitter.idUser==keycloakUser.idUser) ? 'auto' : '0',
        'border-radius': (message.userTransmitter.idUser==keycloakUser.idUser) ? '15px 2px 15px 15px' : '2px 15px 15px 15px'
    }">
    <p class="message-text">{{message.text}}</p>
    <img *ngIf="message.photo != null && message?.photo" src="http://localhost:8090/api/messages/img/{{message.photo}}" width="80px" height="80px">
    <img *ngIf="message.photo != null && !message?.photo" src="http://localhost:8090/images/no-image.jpg" width="80px" height="80px">
    <p class="message-date">{{message.date | date:'short'}}</p>
</div>