<section id="section-profile">
    <div id="middle">
        <div id="profile">
            <div id="profile-header">
                <figure id="profile-header-photo">
                    <img *ngIf="user?.photo" src="http://localhost:8090/api/profile/img/{{user.photo}}" width="80px" height="80px">
                    <img *ngIf="!user?.photo" src="http://localhost:8090/images/no-photo.jpg" width="80px" height="80px">
                    <figcaption>Matías Gabriel Blanco Toledo</figcaption>
                </figure>
                <div id="profile-header-data">
                    <div>
                        <p>3</p>
                        <p>{{'PROFILE.NUMBER_OF_POSTS' | translate}}</p>
                    </div>
                    <div>
                        <p>10</p>
                        <p>{{'PROFILE.NUMBER_OF_FRIENDS' | translate}}</p>
                    </div>
                </div>
            </div>
            <div id="profile-description">
                <p *ngIf="user?.description">{{user.description}}</p>
            </div>
            <div id="profile-buttons">
                <button type="button" class="profile-button" [routerLink]="['edit']"><i class="fa-solid fa-pencil"></i> {{'PROFILE.EDIT_PROFILE'
                    | translate}}</button>
                <button type="button" class="profile-button"><i class="fa-solid fa-plus"></i> {{'PROFILE.ADD_FRIEND' |
                    translate}}</button>
                <button type="button" class="profile-button"><i class="fa-solid fa-message"></i>
                    {{'PROFILE.SEND_MESSAGE' | translate}}</button>
                <button type="button" class="profile-button"><i class="fa-solid fa-phone-flip"></i> {{'PROFILE.CALL' |
                    translate}}</button>
            </div>
        </div>

        <hr>

        <h3>{{'PROFILE.POSTS' | translate}}:</h3>
        <div id="publications">
            <div class="publication">
                <div class="publication-body">
                    <p>I visited Paris!</p>
                    <img src="https://via.placeholder.com/200">
                </div>
                <div class="publication-footer">
                    <div>
                        <p class="date">17/07/22, 11:21 AM</p>
                    </div>
                    <div>
                        <span>300</span><i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-comment"></i>
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </div>
                </div>
            </div>

            <div class="publication">
                <div class="publication-body">
                    <p>Today I will fly to Paris</p>
                </div>
                <div class="publication-footer">
                    <div>
                        <p class="date">10/07/22, 15:51 PM</p>
                    </div>
                    <div>
                        <span>52</span><i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-comment"></i>
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </div>
                </div>
            </div>

            <div class="publication">
                <div class="publication-body">
                    <img src="https://via.placeholder.com/300x200">
                </div>
                <div class="publication-footer">
                    <div>
                        <p class="date">30/06/22, 17:30 PM</p>
                    </div>
                    <div>
                        <span>220</span><i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-comment"></i>
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside> <!---->
        <h2>{{'ASIDE.USERS_MAYBE' | translate}}:</h2>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 1</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 2</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 3</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 4</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 5</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 6</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 7</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 8</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 9</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 10</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
    </aside>
</section>

<router-outlet></router-outlet>