#logo-navbar {
    width: 50px;
    height: 50px;
}

nav {
    width: 100%;
    height: 60px;
    background: #24242b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

nav a {
    height: 50px; /*Same as img*/
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav a p {
    display: none;
}

nav a img {
    width: 50px;
    height: 50px;
}

nav img {
    border-radius: 50%;
    height: 50px;
    height: 50px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#input-grid {
    height: 45px;
    width: 65%;
    border-radius: 25px;
    border: 0;
    outline: none;
    background: #72757e;
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 15px;
    font-size: 1.1rem;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::placeholder {
    color: white;
}

.mat-option {
    background: #24242b;
    color: white;
    transition: .3s;
}

.mat-option:hover {
    background: #7f5af0;
    transition: .3s;
}

.mat-autocomplete-panel {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

@media (min-width: 768px) {
    nav {
        width: 80%; /*Nav width - footer width*/
        margin-left: 20%; /*Footer width*/
        box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    #logo-navbar {
        display: none;
    }

    nav a p {
        display: inline;
        margin-right: 10px;
    }
}