@media (min-width: 768px) {
    #section-publications {
        display: flex;
    }

    #publications {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 1038px) {
    #publications {
        width: 75%;
    }

    .publication {
        width: 100%;
    }
    
    .publication-header p {
        margin-left: 10px;
        font-weight: bold;
    }
}