<div class="comment" *ngIf="comment">
    <div class="comment-header">
        <div class="comment-header-user" (click)="goToProfile()">
            <img *ngIf="comment?.user?.photo" src="http://localhost:8090/api/users/img/{{comment.user.photo}}">
            <img *ngIf="!comment?.user?.photo" src="http://localhost:8090/images/no-photo.jpg">
            <p>{{comment.user.name}} {{comment.user.surname}}</p>
            <i *ngIf="comment.user?.isChecked" class="fa-solid fa-check"></i>
        </div>
        <p class="comment-header-date">{{comment.date | date:'short'}}</p>
    </div>
    <div class="comment-body">
        <p>{{comment.text}}</p>
    </div>
    <div class="comment-footer">
        <button (click)="showReplies()" *ngIf="comment?.hasReplies"><i class="fa-solid fa-down-long"></i> {{'COMMENT.SEE_ANSWERS_BTN' | translate}}</button>
        <button (click)="showReplyModal()"><i class="fa-solid fa-reply"></i> {{'COMMENT.REPLY_BTN' | translate}}</button>
    </div>
    <div class="comment-replies" *ngIf="replies">
        <comment-comp *ngFor="let reply of replies" [comment]="reply" [keycloakUser]="keycloakUser" [commentLevel]="commentLevel + 1"></comment-comp>
    </div>
</div>