<section id="section-profile">
    <div id="middle">
        <div id="profile">
            <div id="profile-header">
                <figure id="profile-header-photo">
                    <img *ngIf="user?.photo" src="http://localhost:8090/api/app/img/{{user.photo}}" width="80px" height="80px">
                    <img *ngIf="!user?.photo" src="http://localhost:8090/images/no-photo.jpg" width="80px" height="80px">
                    <figcaption *ngIf="user?.name">{{user.name}} {{user.surname}}</figcaption>
                </figure>
                <div id="profile-header-data">
                    <div>
                        <p *ngIf="user?.posts">{{user.posts.length}}</p>
                        <p>{{'PROFILE.NUMBER_OF_POSTS' | translate}}</p>
                    </div>
                    <div>
                        <p>{{friendsQuantity}}</p>
                        <p>{{'PROFILE.NUMBER_OF_FRIENDS' | translate}}</p>
                    </div>
                </div>
            </div>
            <div id="profile-description">
                <p *ngIf="user?.description">{{user.description}}</p>
            </div>
            <div id="profile-buttons">
                <button type="button" class="profile-button side-profile-button" [routerLink]="['edit']" *ngIf="user?.idUser == keycloakUserId">
                    <i class="fa-solid fa-pencil"></i> {{'PROFILE.EDIT_PROFILE' | translate}}
                </button>
                <button type="button" class="profile-button side-profile-button" (click)="addFriend()" *ngIf="user?.idUser != keycloakUserId && friendship?.status == false">
                    <i class="fa-solid fa-plus"></i> {{'PROFILE.ADD_FRIEND' | translate}}
                </button>
                <button type="button" class="profile-button" *ngIf="user?.idUser != keycloakUserId && friendship?.status == true">
                    <i class="fa-solid fa-message"></i> {{'PROFILE.SEND_MESSAGE' | translate}}
                </button>
                <button type="button" class="profile-button" *ngIf="user?.idUser != keycloakUserId && friendship?.status == true">
                    <i class="fa-solid fa-phone-flip"></i> {{'PROFILE.CALL' | translate}}
                </button>
                <button type="button" class="profile-button" *ngIf="user?.idUser != keycloakUserId && friendship?.status == true"
                (click)="deleteFriend()">
                    <i class="fa-solid fa-trash"></i> {{'PROFILE.DELETE' | translate}}
                </button>
            </div>
        </div>

        <hr>

        <h3>{{'PROFILE.POSTS' | translate}}:</h3>
        <div id="publications" *ngIf="user?.posts">
            <post-comp *ngFor="let post of user.posts" [post]="post"></post-comp>
            <p *ngIf="user?.posts.length==0">{{'PROFILE.NO_POSTS' | translate}}</p>
            <img *ngIf="user?.posts.length==0" src="../../../assets/img/no_posts_bg.svg" alt="No posts">
        </div>
    </div>

    <aside>
        <h2>{{'ASIDE.USERS_MAYBE' | translate}}:</h2>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 1</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 2</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 3</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 4</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 5</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 6</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 7</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 8</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 9</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
        <figure class="users-aside">
            <img src="https://via.placeholder.com/30">
            <figcaption>Usuario Amigo 10</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
        </figure>
    </aside>
</section>

<router-outlet></router-outlet>