<section id="section-profile">
    <div id="middle">
        <div id="profile">
            <div id="profile-header">
                <figure id="profile-header-photo">
                    <img *ngIf="user?.photo" src="http://localhost:8090/api/user/img/{{user.photo}}" width="80px" height="80px">
                    <img *ngIf="!user?.photo" src="http://localhost:8090/images/no-photo.jpg" width="80px" height="80px">
                    <figcaption *ngIf="user?.name">{{user.name}} {{user.surname}}</figcaption>
                    <i *ngIf="user?.isChecked" class="fa-solid fa-check"></i>
                </figure>
                <div id="profile-header-data">
                    <div (click)="moveToPosts(posts)">
                        <p *ngIf="userPostQuantity != undefined">{{userPostQuantity}}</p>
                        <p>{{'PROFILE.NUMBER_OF_POSTS' | translate}}</p>
                    </div>
                    <div (click)="goToFriendsPage()">
                        <p>{{friendsQuantity}}</p>
                        <p>{{'PROFILE.NUMBER_OF_FRIENDS' | translate}}</p>
                    </div>
                </div>
            </div>
            <div id="profile-description">
                <p *ngIf="user?.description">{{user.description}}</p>
            </div>
            <div id="profile-buttons">
                <button type="button" class="profile-button side-profile-button" [routerLink]="['edit']" *ngIf="!friendship">
                    <i class="fa-solid fa-pencil"></i> {{'PROFILE.EDIT_PROFILE' | translate}}
                </button>
                <button type="button" class="profile-button side-profile-button" (click)="addFriend()" *ngIf="friendship?.status == false">
                    <i class="fa-solid fa-plus"></i> {{'PROFILE.ADD_FRIEND' | translate}}
                </button>
                <button type="button" class="profile-button" *ngIf="friendship?.status == true && user?.idUser" [routerLink]="['/profile/chat', user.idUser]">
                    <i class="fa-solid fa-message"></i> {{'PROFILE.SEND_MESSAGE' | translate}}
                </button>
                <button type="button" class="profile-button" *ngIf="friendship?.status == true">
                    <i class="fa-solid fa-phone-flip"></i> {{'PROFILE.CALL' | translate}}
                </button>
                <button type="button" class="profile-button" *ngIf="friendship?.status == true"
                (click)="deleteFriend()">
                    <i class="fa-solid fa-trash"></i> {{'PROFILE.DELETE' | translate}}
                </button>
            </div>
        </div>

        <hr #posts>

        <h3>{{'PROFILE.POSTS' | translate}}:</h3>
        <div id="publications">
            <posts-list-comp *ngIf="user?.idUser" [idUser]="user.idUser" [page]="'profile'"></posts-list-comp>
        </div>
    </div>

    <aside>
        <div *ngIf="usersYouMayKnow?.length > 0">
            <h2>{{'ASIDE.USERS_MAYBE' | translate}}:</h2>
            <figure class="users-aside" *ngFor="let userYouMayKnow of usersYouMayKnow" (click)="goToProfile(userYouMayKnow)">
                <img *ngIf="userYouMayKnow?.photo" src="http://localhost:8090/api/user/img/{{userYouMayKnow.photo}}">
                <img *ngIf="!userYouMayKnow?.photo" src="http://localhost:8090/images/no-photo.jpg">
                <figcaption>{{userYouMayKnow.name}} {{userYouMayKnow.surname}}</figcaption><i class="fa-solid fa-check" style="display: none;"></i>
            </figure>
        </div>
        <img *ngIf="usersYouMayKnow?.length == 0" src="../../../assets/img/no_users_you_may_know_BG.svg" alt="This user has no other users that you may know of." id="aside-img">
    </aside>
</section>

<router-outlet></router-outlet>