.publication {
    width: 100%;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: .85rem;
}

.publication-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.publication-header-user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.publication-header-user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.publication-header-user figcaption {
    margin-left: 10px;
    font-weight: 550;
}

.publication-header-user i {
    margin-left: 5px;
}

.publication-header-date {
    text-align: end;
}

.publication-body {
    word-wrap: break-word;
}

.publication-body img {
    width: auto;
    max-width: 100%;
    max-height: 300px;
    display: flex;
    margin: auto;
    margin-top: 5px;
}

.publication-footer {
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.publication-footer i {
    margin-left: 5px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .publication {
        font-size: 1rem;
    }
}

@media (min-width: 1038px) {
    .publication {
        width: 100%;
    }
    
    .publication-header p {
        margin-left: 10px;
        font-weight: bold;
    }
}