<div class="publication">
    <div class="publication-header">
        <figure class="publication-header-user" (click)="goToProfile()">
            <img *ngIf="post.user?.photo" src="http://localhost:8090/api/users/img/{{post.user.photo}}">
            <img *ngIf="!post.user?.photo" src="http://localhost:8090/images/no-photo.jpg">
            <figcaption *ngIf="post.user?.name">{{post.user.name}} {{post.user.surname}}</figcaption>
            <i *ngIf="post.user?.isChecked" class="fa-solid fa-check"></i>
        </figure>
        <div class="publication-header-date">
            <p *ngIf="post?.date">{{post.date | date:'short'}}</p>
        </div>
    </div>
    <div class="publication-body">
        <p *ngIf="post?.text">{{post.text}}</p>
        <img *ngIf="post?.photo" src="http://localhost:8090/api/posts/img/{{post.photo}}">
    </div>
    <div class="publication-footer">
        <span *ngIf="post?.likes">{{post.likes.length}}</span>
        <i *ngIf="!isLiked" class="fa-regular fa-heart" (click)="likePost()"></i>
        <i *ngIf="isLiked" class="fa-solid fa-heart" (click)="dislikePost()"></i>
        <i class="fa-solid fa-comment" [routerLink]="['/post', post.idPost]"></i>
        <i *ngIf="post.user.username == authService.getUsername() && !post.isPinned" class="fa-regular fa-star" (click)="pinPost()"></i>
        <i *ngIf="post.user.username == authService.getUsername() && post.isPinned" class="fa-solid fa-star" (click)="unpinPost()"></i>
        <a href="http://localhost:8090/api/posts/img/{{post.photo}}"><i *ngIf="post?.photo" class="fa-solid fa-download"></i></a>
        <i *ngIf="post.user.username != authService.getUsername() && !isReported" class="fa-solid fa-triangle-exclamation" (click)="reportPost()"></i>
        <i *ngIf="post.user.username == authService.getUsername()" class="fa-solid fa-trash" (click)="deletePost()"></i>
    </div>
</div>