#section-search-users {
    padding: 25px;
}

.users {
    margin-bottom: 60px;
}

.users h1 {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .users {
        margin-bottom: 0;
    }
}

@media (min-width: 1038px) {
    #section-search-users {
        min-height: calc(100vh - 60px);
        background-image: url("../../../../../assets/img/people_bg.svg");
        background-repeat: no-repeat;
        background-size: 40rem;
        background-position-x: right;
        background-position-y: center;
    }
}